/* Scoped styles for TestPage component */
.tspg-test-page {
  display: flex;
  flex-direction: row;
  padding: 22px;
}

.lefttspg {
  width: 60%;
}
.tspg-icon{
  color: rgb(5, 5, 199);
}

.tspg-details {
  border: 2px solid rgba(85, 82, 82, 0.414);
  padding: 12px;
  border-radius: 18px;
}

.righttspg {
  display: flex;
  width: 40%;
}

.tspg-contentt {
  line-height: 2;
  margin-left: 30px;
  margin-right: 30px;
}

.tspg-test-guidelines {
  font-size: 20px;
}

.tspg-subscription {
  background-color: white;
  border-radius: 8px;
}

.tspg-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.tspg-image-container {
  margin-right: 20px;
}

.tspg-image-container img {
  width: 300px;
  height: auto;
}

.tspg-status {
  font-size: 32px;
}

.tspg-status p,
.tspg-test-guidelines p,
.tspg-subscription-label {
  margin: 10px 0;
  display: flex;
  align-items: center;
  border: none;
}

.tspg-test-guidelines h3 {
  margin-top: 10px;
}

.tspg-subscription-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.nayi{
  margin-left: 22px;
}

.tspg-checkbox {
  margin-right: 8px;
  width: 22px;
 
}

.tspg-footer {
  margin-top: 20px;
  text-align: center;
}

.tspg-upside {
  display: flex;
  flex-direction: row;
}

.tspg-proceed-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tspg-proceed-button:hover {
  background-color: #2980b9;
}
