body {
    margin: 0;
    font-family: 'Arial', sans-serif;  
    color: #fff;
  }

  .dashboard {
    background-color: #000022;;
    min-height: 100vh;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .nav-icons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .main-content {
    max-width: 1400px;
    margin: auto;
  }
  
  .welcome-section {
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;justify-content: space-between;
    
  }

  .welcome-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .welcome-section p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .total-learning-time{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  
  .cards-section {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
    padding-top: 60px;
  }
  
  .card {
    background-color: #EBE6E3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    color: #000022;
    width: 443px;
    
  }
  .big{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:100px;
    margin-top: 60px;
  }
  
  .assignments-section, .tests-section {
    background-color: #EBE6E3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #000022;
    width: 100%;
  }
  
  .assignment-item, .test-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #3d3d5c;
  }
  