

.timer{
    position: absolute;
    right: 5%;
    background-color: #EBE6E3;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.timer h2{
    font-size:large;
}

