
  
  .third-landing-page {
    text-align: center;
    padding: 50px 20px;
    color: white;
    margin: 0;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 81vh;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .third-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    width: 50%;
    align-items: center;
    margin-top: 50px;
  }
  
  .third-features-item {
    background-color: #141452;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .third-features-item .icon {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .third-features-item p {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .icon {
    color: #FFFFFF;
  }
  
  @media (max-width: 768px) {
    .features {
      flex-direction: column;
      align-items: center;
    }
  }
  