.landing-page {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #002;
  }

  .big-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0f0d2c;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-icons {
    display: flex;
    gap: 20px;
  }
  
  .icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .main-content {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }
  
  .text-section h1 {
    font-size: 48px;
    font-weight: bold;
    width: 70%;
    
  }
  .text-section{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .highlight {
    color: #8e44ad;
    font-size: 60px;
  }
  
  .start-button {
    background-color: #8e44ad;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    /* margin: 0px; */
    
    /* margin-left: 25%; */
    width: 40%;
  }
  
  .features-sections {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-top: 50px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .feature1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
  }
  .feature1 img{
    width: 40%;
    height: 30%;
  }
  .feature1 p {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;

  }
  
  .feature p {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;

  }
  .feature img{
    width: 40%;
    height: 30%;
  }
  .feature .img3{
    width: 20%;
    height: 30%;
  }
  
  .image-strip {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 40px; */
    gap: 20px;
    margin-left: 100px;

  }
  
  .image-strip img {
    width: 25%;
    height: auto;
    border-radius: 20px;
    height: 100%;
  }
  .img2{
    margin-top: 47%;
  }
  